---
---

@import "{{ site.theme }}";

/******************************************
General Style Overrides
*******************************************/

#project_title {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-size: 64px;
  font-weight: 900;
  font-style: normal;
  line-height: normal;
}

#project_tagline {
  margin-top: 0px;
  margin-bottom: 0px;
}

#main_content {
  padding-top: 20px;
}

.inner {
  padding-bottom: 20px;
}

body {
  font-size: 18px;
}

footer p {
  font-size: 16px;
}

/******************************************
Small Device Style Overrides
*******************************************/

@media screen and (max-width: 480px) {
  #project_title {
    font-size: 58px;
  }
}

@media screen and (max-width: 320px) {
   #project_title {
     font-size: 42px;
  }
}

