---
---

@import "{{ site.theme }}";

// <uniquifier>: Use a unique and descriptive class name

.montserrat-sitetitle {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

#project_title {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-size: 64px;
  font-weight: 900;
  font-style: normal;
  line-height: normal;
}

#project_tagline {
  margin-top: 0px;
  margin-bottom: 0px;
}

#main_content {
  padding-top: 20px;
}

.inner {
  padding-bottom: 20px;
}

body {
  font-size: 18px;
}

footer p {
  font-size: 16px;
}
