---
---

@import "{{ site.theme }}";

// <uniquifier>: Use a unique and descriptive class name

.montserrat-sitetitle {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-size: 64;
  font-weight: 900;
  font-style: normal;
}
